.sora-medium {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

html{
    background-color: #d7dedb;
}

h1{
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

a{
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}