body {
    background-color: #ffffff;
  }

div {
    background-color: rgb(161, 0, 46);
  }

.title01 {
    font-size: 70px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 40px;
  }

.title02 {
    font-size: 70px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }

.box01 {
    background-color: rgb(255, 255, 255, 0.2);
    width: 600px;
    float: left;
  }

.box02 {
    background-color: rgb(255, 255, 255, 0.2);
    width: 600px;
    float: center;
  }

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }