.dotgothic16-regular {
    font-family: "DotGothic16", serif;
    font-weight: 400;
    font-style: normal;
  }

  .space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }


html{
    background-color: #000000;
}
h3{
    font-family: "DotGothic16", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    color: #ffffff;
}

a{
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    color: #FF3300;
}

p{
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

ol{
    font-family: "Space Mono", monospace;
    color: #ffffff;
}
